* {
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 0;
    padding: 0;
    min-height: 100vh;
    font-family: "Roboto", sans-serif;
    font-size: 18px;
    font-weight: 400;
    line-height: 1.5;
    color: #4d2323;
}

.container {
    max-width: 1440px;
    margin: 0 auto;
    min-height: 50px;
}

div {
    display: block;
}

.header {
    background-color: #88a2c9;
}

.nav-list {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    list-style: none;
}

.nav-link {
    position: relative;
    padding: 0 20px;
    text-decoration: none;
    font-size: 20px;
    font-weight: 300;
    line-height: 50px;
    color: #fff;
}
  
.nav-link:hover {
    color: #b4c9b7;
}

.main {
    margin-bottom: auto;
}

.main-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.section {
    width: 50%;
    padding: 10px;
    padding-bottom: 35px;
    border-bottom: 1px solid #88a2c9;
}

.section-profile {
    display: flex;
    justify-content: space-around;
    width: 100%;
    padding: 50px 30px 35px;
    border-bottom: 5px solid #88a2c9;
}

.avatar {
    width: 150px;
    height: 150px;
    object-fit: cover;
    border-radius: 50%;
}

.section-title {
    margin-bottom: 20px;
    font-size: 20px;
    font-weight: 400;
    text-transform: uppercase;
    letter-spacing: 5px;
    color: #829985;
}

.section-profile-title {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    text-transform: uppercase;
}

.primary-title {
    position: relative;
    padding: 0;
    margin-bottom: 20px;
    color: #4d2323;
    font-size: 32px;
    letter-spacing: 10px;
    line-height: 50px;
    word-spacing: 3px;
}

.secondary-title {
    margin-top: 20px;
    color: #614641;
    line-height: 50px;
    font-weight: 500;
    letter-spacing: 2px
}

.section-list {
    margin: 0;
    padding: 0;
    list-style: none;
}

.section-item {
    position: relative;
    margin: 0;
    margin-bottom: 10px;
    padding: 0;
    padding-left: 30px;
}

.section-item::before {
    content: "";
    position: absolute;
    top: 8px;
    left: 0px;
    width: 10px;
    height: 10px;
    border: 1px solid #829985;
    border-radius: 50%;
}

.section-item a {
    color: #829985;
    text-decoration: none;
    transition: color 0.5s;
}

.section-item a:hover {
    color: #4d2323;
}

.footer {
    background-color: #88a2c9;
    padding: 20px;
}

.footer-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
    color: #fff;
}

.github {
    color: #fff;
    text-decoration: none;
    line-height: 45px;
}

.rss {
    width: 121px;
    height: 45px;
    background-image: url("./assets/svg/rss.svg");
    background-size: contain;
    background-repeat: no-repeat;
}